@using Tapas.Backend.Core.ExtensionMethods
@model Tapas.Backend.UserManagement.Areas.Backend.Models.CreateUser.CreateUserViewModel
@{
    ViewData["Title"] = "User Administration";
    @Html.ValidationMessageFor( x => x.Username );
}

<div class="title-block">
    <h3 class="title">Add a user</h3>
</div>

<section class="section" >
    <div class="row sameheight-container">
        <div class="col-md-12">
            <div class="card card-block sameheight-item">
                <form role="form" method="post" autocomplete="off">
                    <div class="form-group @(Html.AddValidationErrorClassFor(x => x.Username ))">
                        <label class="control-label">Username:</label>
                        <input asp-for="Username" class="form-control underlined" data-lpignore="true"/>
                        <span asp-validation-for="Username" class="has-error"></span>
                    </div>
                    <div class="form-group @(Html.AddValidationErrorClassFor(x => x.Name ))">
                        <label class="control-label">Name:</label>
                        <input asp-for="Name" class="form-control underlined" data-lpignore="true"/>
                        <span asp-validation-for="Name" class="has-error"></span>
                    </div>
                    <div class="form-group @(Html.AddValidationErrorClassFor(x => x.Email ))">
                        <label class="control-label">Email:</label>
                        <input asp-for="Email" class="form-control underlined" data-lpignore="true"/>
                        <span asp-validation-for="Email" class="has-error"></span>
                    </div>

                    <div class="form-group @(Html.AddValidationErrorClassFor(x => x.Password ))">
                        <label class="control-label">Password:</label>
                        <input asp-for="Password" type="password" class="form-control underlined" data-lpignore="true"/>
                        <span asp-validation-for="Password" class="has-error"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>