@using Tapas.Backend.Core.ExtensionMethods
@model Tapas.Backend.UserManagement.Areas.Backend.Models.Roles.EditRoles.EditRoleViewModel
@{
    ViewData[ "Title" ] = "Edit Role";
}

<article class="content" >
    <div class="title-block" >
        <h3 class="title" >Edit a Role</h3>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <form autocomplete="off" method="post" role="form">
                    <div class="card card-block sameheight-item">
                        <div class="form-group @( Html.AddValidationErrorClassFor( x => x.Name ) )">
                            <label class="control-label">Name:</label>
                            <input asp-for="Name" class="form-control underlined" data-lpignore="true" />
                            <span asp-validation-for="Name" class="has-error"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-block sameheight-item">
                    <div class="form-group">
                        <label class="title-block">Claims</label>

                        <div>
                            <table class="flip-content table table-bordered table-hover table-striped" id="ClaimContainer">
                                <thead>
                                    <tr>
                                        <td>Type</td>
                                        <td>Value</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody id="ClaimInsertionPoint">
                                    @foreach (var claim in Model.Claims)
                                    {
                                        <tr>
                                            <td>@claim.Type</td>
                                            <td>@claim.Value</td>
                                            <td>
                                                <button class="RemoveClaimButton" data-ClaimType="@claim.Type"
                                                        data-ClaimValue="@claim.Value">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control form-control-lg" id="ClaimTypeSelector" name="ClaimType">
                                                @foreach (string claimType in Model.ClaimTypes)
                                                {
                                                    <option value="@claimType">@claimType</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input class="form-control form-control-lg underlined" id="ClaimValueInput" name="ClaimValue" type="text" />
                                        </td>
                                        <td>
                                            <button id="AddNewClaim">Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <span asp-validation-for="Name" class="has-error"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

@section Scripts{
    <script>
    ( function ( $ )
    {
        var claimContainer = $( '#ClaimContainer' );
        var claimTypeSelector = $( '#ClaimTypeSelector' );
        var claimValueInput = $( '#ClaimValueInput' );
        var createClaimButton = $( '#AddNewClaim' );
        var claimInsertionPoint = $( '#ClaimInsertionPoint' );

        $( '#ClaimValueInput' ).autoComplete( {
            cache: false,
            minChars: 0,
            source: function ( term, response )
            {
                $.getJSON( '@Url.Action( "get-claims" )', { claimType: $( '#ClaimTypeSelector' ).val() }, function ( data )
                {
                    response( data );
                } );
            }
        } );

        createClaimButton.click( function ()
        {
            if( claimValueInput.val().length === 0 )
            {
                console.log( 'empty' );
                return;
            }

            var type = claimTypeSelector.val();
            var value = claimValueInput.val();

            $.ajax( {
                type: 'POST',
                url: '@Url.Action( "AddClaim", new { id = Model.Id } )',
                data: {
                    claimType: type,
                    claimValue: value
                },
                success: function ()
                {
                    claimInsertionPoint.append( `<tr>
                                                <td>${ type }</td>
                                                <td>${ value }</td>
                                                <td>
                                                    <button class="RemoveClaimButton"
                                                            data-ClaimType="${ type }"
                                                            data-ClaimValue="${ value }" >
                                                        Remove
                                                    </button>
                                                </td>
                                            </tr>` );

                    claimValueInput.val( '' );
                }
            } );
        } );

        claimContainer.on( 'click', 'button.RemoveClaimButton', function ()
        {
            var button = $( this );
            var type = $( this ).attr( 'data-ClaimType' );
            var value = $( this ).attr( 'data-ClaimValue' );

            $.ajax( {
                type: 'POST',
                url: '@Url.Action( "RemoveClaim", new { id = Model.Id } )',
                    data: {
                        claimType: type,
                        claimValue: value
                    },
                    success: function ()
                    {
                        button.closest( 'tr' ).remove();
                    }
                } );
            } );
        } )( jQuery );
    </script>
}